<h1>Interview Details</h1>

<!--<p *ngIf="!surveydetails"><em>Loading...</em></p>-->

<button type="Button" (click)="language('en')">English</button>
<button type="Button" (click)="language('nl')">Dutch</button>
<form (ngSubmit)="onsubmit()">
  <div class="survey" *ngFor="let surveydetail of surveydetails.questionnaireItems">
    <div class="subject">{{surveydetail.subjectText}}</div>
    <div class="interview" *ngFor="let interviewdetail of surveydetail.questionnaireItems">
      <div class="question">-{{interviewdetail.questionItemText}}</div>
      <textarea *ngIf="interviewdetail.answerCategoryType == 2"></textarea>
      <div>
        <select name="selection" *ngIf="interviewdetail.answerCategoryType == 0" (change)="onSelect($event.target.value)" >
          <option>--Select Answer--</option>
          <option *ngFor="let categorydetail of interviewdetail.questionnaireItems" class="category"
                  value="{'surveyId':{{surveydetails.questionnaireId}},'subjectId':{{surveydetail.subjectId}},'questionId':{{interviewdetail.questionId}},'categoryId': {{categorydetail.answerId}}}">
            {{categorydetail.categoryText}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <input type="submit" *ngIf="surveydetails">
</form>
